<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #e3f2fd;"> 
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Surabhi Restaurant (Admin)</a>
        <button
            class="navbar-toggler primary"
            type="button" 
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarSupportedContent"
        >
            <ul *ngIf="user !== null" class="navbar-nav mb-2 mx-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/users"
                        >Customers CRUD</a
                    >
                </li>
            </ul>
            <ul *ngIf="user !== null" class="navbar-nav mb-2 mx-2 mb-lg-0">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        aria-current="page"
                        routerLink="/todaysBills"
                        >Todays Bills</a
                    >
                </li>
            </ul>
            <ul *ngIf="user !== null" class="navbar-nav mb-2 mx-2 mb-lg-0">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        aria-current="page"
                        routerLink="/monthsReport"
                        >Monthly Report</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
<div
    *ngIf="error !== null"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
>
    {{ error }}
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
    ></button>
</div>
<div *ngIf="loading === true" class="d-flex justify-content-center">
    <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<router-outlet></router-outlet>
